*{
    margin: 0px;
    padding: 0px;
}

#container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#container > a{
    text-decoration: none;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: red;
    box-shadow: 3px 3px darkred;
    font-size: 14pt;
    font-weight: bold;
}