<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type= text/css href="{% static "style.css" %}">
    <link rel="stylesheet" type= text/css href="{% static "bootstrap.css" %}">
    <title>Charles Teng"s Dojo Survey assignment</title>
</head>
<body>
    <div class="container-fluid">
        <h1>Dojo Survey</h1>
        <form action="/result" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="name" class="form-label">Name:</label>
                <input type="text" name="name">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">E-mail:</label>
                <input type="text" name="email">
            </div>


            <div class="form-check">
                Gender: <input type="radio" id="male" name="gender" value="male">
                <label for="male">Male</label>
                <input type="radio" id="female" name="gender" value="female">
                <label for="female">Female</label>

                <h5>Languages Learned</h5>

                <input type="checkbox" id="javaScript" name="langLrnd" value="javaScript">
                <label for="javaScript">JavaScript</label>

                <input type="checkbox" id="python" name="langLrnd" value="python">
                <label for="python">Python</label>

                <input type="checkbox" id="html" name="langLrnd" value="html">
                <label for="html">HTML</label>

                <input type="checkbox" id="java" name="langLrnd" value="java">
                <label for="java">Java</label>
            </div>

            <button class="btn btn-primary" type="submit">Submit</button>

        </form>
    </div>
</body>
</html>