<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "styles_leaderboard.css" %}">
    <title>Charles Teng's Great Number Game assignment</title>
</head>
<body>
    <div id="container">
        <h4>{{ request.session.game_history }}</h4>
        <form action="/restart" method=POST>
            {% csrf_token %}
            <button type="submit" value="submit">Try again</button>
        </form>
        <form action="/ldbrd_reset" method=POST>
            {% csrf_token %}
            <button type="submit" value="submit">Reset Leaderboard</button>
        </form>
    </div>
</body>
</html>