<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "success.css" %}">
    <title>Charles Teng's </title>
</head>
<body>
    <div id="container">
        <div id="header">
            <h1>Success! Welcome, {{ user.first_name }}!</h1>
            <a href="/logout">Logout</a>
        </div>
        <p>
            Your birthday: {{ user.birth_date }}
        </p>
    </div>
</body>
</html>