<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "styles_new&edit.css" %}">
    <title>Charles Teng's Semi-Restfull TV Shows assignment</title>
</head>
<body>
    <div id="container">
        <form action="/shows/{{ show.id }}/update" method="POST">
            <div class="row">
                <h1>Edit {{ show.title }}</h1>
                <a href="/shows">Home</a>
            </div>
            {% csrf_token %}
            <h3>Title</h3>
            <input type="text" name="e_title" id="e_title" value="{{ show.title }}">
            <div class="row">
                <h3>Network</h3>
                <h3>Release Date</h3>
            </div>
            <div class="row">
                <input type="text" name="e_network" id="e_network" value="{{ show.network }}">
                <input type="date" name="e_release" id="e_release" value="{{ date }}">
            </div>
            <h3>Description</h3>
            <div class="row description">
                <input type="text" name="e_desc" id="e_desc" value="{{ show.desc }}"">
            </div>
            <button type="submit" value="submit">Update</button>
        </form>
        <a href="/shows/{{ show.id }}/details">Go to Show</a>
    </div> <!--container div end-->
</body>
</html>