*{
    margin: 0px;
    padding: 0px;
}

#container{
    margin: 10px;
}

table, tr, th, td{
    border: 1px solid black;
}

td, th{
    padding: 3px;
}

tr:nth-child(even){
    background-color: silver;
}