<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "styles.css" %}">
    <title>Charles Teng's Books & Authors assignment</title>
</head>
<body>
    <div id="container">
        <!-- book form start -->
            <form action="/add_book" method="POST">
                {% csrf_token %}
                <h1>Add a Book</h1>
                <p>
                    Title
                    <input type="text" name="bTitle" id="bTitle">
                </p>
                <p>
                    Description
                    <textarea name="bDesc" id="bDesc" rows="5" cols="22"></textarea>
                </p>
                <button type="submit" value="submit">Add</button>
                <a href="/authors">Go to list of authors</a>
            </form> <!-- book form end -->

        <table> <!--book table start-->
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Details</th>
            </tr>
            {% for books in books_list %}
                <tr>
                    <td>{{ books.id }}</td>
                    <td>{{ books.title }}</td>
                    <td><a href="/books/{{books.id}}">View</a></td>
                </tr>
            {% endfor %}
        </table><!--book table end-->
        
    </div> <!--container div end-->
    
</body>
</html>